# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Environments
.env
.venv/
venv/
ENV/

# Database files
*.db
*.sqlite
*.sqlite3
data/*.db
data/*.sqlite3

# IDE / Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
